section {
  margin-bottom: 40px;
}

section h2 {
  margin-bottom: 20px;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.menu-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 40px;
  border-radius: 35px;
  background: #fff;
  filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
  cursor: pointer;
  transition: all 0.3s;
}

.menu-item:hover {
  border: 2px solid tomato;
}

.menu-item img {
  width: 100%;
  border-radius: 35px;
  margin-bottom: 15px;
}

.menu-item .price {
  font-size: 18px;
  font-weight: bold;
}

.menu-item .name {
  font-size: 18px;
  margin: 10px 0;
}

.menu-item .weight {
  color: gray;
  margin-bottom: 10px;
}

.menu-item button {
  background: #f1eee9;
  border: none;
  padding: 10px 30px;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s;
}

.menu-item:hover button {
  background: tomato;
  color: white;
}

/* Адаптивность */
@media (max-width: 800px) {
  .menu-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  nav {
    justify-content: space-between;
    width: 100%;
  }
}

@media (max-width: 600px) {
  h1, section h2 {
    text-align: center;
  }

  nav {
    flex-direction: column;
    align-items: center;
  }

  nav a {
    font-size: 18px;
  }

  .menu-grid {
    grid-template-columns: 1fr;
  }
}
